<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript">
      function get_jsonp() {
        $.getJSON("http://127.0.0.1:3000/api?callback=?",
                function(data) {
                  $('#rjsonp').val('Jsonp info : ' + data.message);
                });
        }
 
      function get_json(){
        $.getJSON("/api",
                function(data) {
                  $('#rjson').val('Json info : ' + data.message);
                });
        }
    </script>
 
    <a href="javascript:get_jsonp();">Click me for jsonp</a><br />
    <textarea id="rjsonp" cols="50" rows="3"></textarea>
    <br />
 
    <a href="javascript:get_json();">Click me for json</a><br />
    <textarea id="rjson" cols="50" rows="3"></textarea>
 
  </body>
</html>